    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
    @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
    .centered{
        text-align: center;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
    }

.collapse{
    background:none;
}

.navbar-nav{    
    /* background-color: green; */  
    margin-left: 30px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link{
    border: 1px solid rgb(232, 232, 232);
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.6s;
    font-weight: 700;
    border-radius: 5px;
}

.link:hover{
    border-radius: 5px;
    background-color: rgba(255, 234, 0, 0.67);
    
}
header .bg{
    background-color: rgba(255, 255, 255, 0);
}

header .box{
    margin-top: -10px;
    margin-bottom: 2px;
    margin-right: -12px;
    margin-left: -12px;
    min-width: 280px;
    height: 90px;
    background-color: rgb(251, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .box img{
    margin-top: -15px;
    margin-right: 15px;
}

header .box p{
    font-weight: 700;
    font-size: 20px;
}

.popup{
    position: fixed;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: -30px;
}

.popup .btn{
    background-color: rgb(255, 183, 0);
    color: black;
    font-size: 30px;
    border-radius: 100%;
    border: 1px solid yellow;
}

.popup .offcanvas{
    background-color: rgba(0, 0, 0, 0.715);
}

.popup .offcanvas .title{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 225, 0);
    border-radius: 20px;
    text-transform: uppercase;
}

.popup .theme{
    color: yellow;
    font-size: 19px;
}

.fonts-zoom{
    background-color: rgba(255, 255, 255, 0.03);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fonts-zoom__minus{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: none;
}

.fonts-zoom__minus .bi{
    font-size: 36px;
    color: rgb(255, 238, 0);
}
.fonts-zoom__minus .bi:active{
    color: rgb(103, 103, 103);
}
/* .fonts-zoom__item{
    font-size: 100px;
} */

.fonts-zoom__plus{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: none;
    border: none;
}

.fonts-zoom__plus .bi{
    font-size: 36px;
    color: rgb(255, 238, 0);
}

.fonts-zoom__plus .bi:active{
    color: rgb(103, 103, 103);
}


.popup a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
}


.popup span{
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

#headerwrap{
    background: url(../images/hero-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h2{
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 700;
}

#headerwrap h5{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 20px;
}

#headerwrap .btn{
    margin-top: 40px;
    width: 200px;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
}

.second_section{
    background-color: rgba(255, 255, 255, 0);
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* .second_section .container{
} */

.second_section h2{
    margin-top: 70px;
    font-size: 50px;
}

/* .second_section .row{
    border: 3px solid  rgb(255, 255, 255);
}

.second_section .row .col-lg{
    border: 1px solid  rgb(255, 255, 255);
} */

.container .text-center{
    font-size: 50px;
}

.container .col-lg-4{
    margin-top: 50px;
}

.container .col-lg-4 .container{
    background-color: rgb(195, 195, 195);
    border: 5px solid rgb(255, 213, 0);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition:0.6s;
}

.container .col-lg-4 .container:hover{
    background-color:  rgb(255, 213, 0);
}

.w{
    padding-top: 0px;
}

.w h4{
    font-size: 25px;
    padding-top: 30px;
}

.w p{
    text-align: center;
    padding-bottom: 0px;
    font-size: 19px;
}

#head{
    background: url(../images/add-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #head .container{
    background-color: #fff;
} */

#head .container .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#head .container .row .col-lg-5{
    margin-top: -15px;
    height: 460px;
    width: 500px;
}

#head .container .row .col-lg-5 h1{
    text-align: center;
    padding-left: 30px;
    padding-top: 1px;
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.text-start{
    list-style-type: none;
    list-style-image: url(../images/icons/1.png);
    padding-top: 3px;
    color: white;
    font-size: 18px;
}
.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: rgb(255, 213, 0);
    border: 1px solid  rgb(255, 213, 0);
    background: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.7s;
    font-size: 20px;
  }
  .border-button:hover{
      color: rgb(0, 0, 0);
      border-radius: 10px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .border-button:before {
      border-radius: 10px;
    bottom: 0;
    left: 0;
    border-left: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    border-radius: 10px;
    top: 0;
    right: 0;
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before, 
  .border-button:hover:after {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    border-radius: 10px;
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    border-radius: 10px;
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    border-radius: 10px;
    background: rgb(255, 213, 0);
  }

.section4{
    background:none;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section4 .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .container .row{
    margin-top: -20px;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .container .row .col-lg-3{
    height: 80px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.section4 .container .row .col-lg-3 .num{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    background-color:rgb(255, 213, 0);
    margin-left: -13px;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.section4 .container .row .col-lg-3 .text{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.section-5{
    background-color: rgba(255, 255, 255, 0);
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-5 .container .text-center{
    padding-top: 10px;
}

.section-5 .container .row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.section-5 .container .row .col-lg-3{
    width: 280px;
    border-radius: 10px;
    transition: 0.5s;
}
.section-5 .container .row .col-lg-3:hover{
    margin-bottom: 5px;
    margin-bottom: 5px;
    box-shadow: 8px 8px 0px rgb(0, 0, 0);
    background-color: rgb(255, 213, 0);
}

.section-5 .container .row .col-lg-3 img{
    border-radius: 100%;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-5 .container .row .col-lg-3 .name{
    font-size: 24px;
    font-weight: 700;
}

.section-5 .container .row .col-lg-3 .info{
    font-size: 16px;
}


footer{
    background: url(../images/hero-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*  
footer .container .row{
    border: 1px solid white;
} */

footer .container .row .col-lg-4{
    /* border: 2px solid white; */
    height: 150px;
}

footer .container .row .col-lg-4 h3{
    text-align: center;
    color: white;
    padding: 13px 13px;
    font-weight: 400;
}


footer .container .row .col-lg-4 .text{
    text-align: center;
    color: rgb(214, 214, 214);
    font-weight: 100;
    font-size: 20px;
}

footer .container .row .col-lg-4 .dropdown{
    margin-top: 20px;
}

footer .container .row .col-lg-4 .dropdown .btn{
    background-color: rgba(255, 255, 255, 0.181);
}



.color > span {
        display: inline-block;
        height: 100px;
        width: 100px;
        cursor: pointer;
        border-radius: 20px;
    }


    .color > #red {
        background-color: red;
    }

    .color > #blue {
        background-color: rgb(0, 76, 255);
    }

    .color > #white {
        background-color: rgb(255, 255, 255);
    }

    .color > #green{
        background-color: rgb(0, 100, 17);
    }

    .color > #pink{
        background-color: rgb(234, 0, 255);
    }

    .color > #aqua{
        background-color: aqua;
    }